// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #FF7F11;
$yellow: #FDB631;
$orange: #FF7F11;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;
$white: white;
$light-orange: rgba(230,126,34,0.01);
