.body {
  margin: none;
  min-height: 100vh;
}


.search {
  display: flex;
  margin: 0 auto;
  align-items: center;
  height: 40px;
  color: black;
}

.search1 {
  margin:none;
  border-radius: 1px;
  padding: 5px;
  margin: none;
  border: none;
  height: 40px;
}

.search2 {
  padding: 5px;
  border-radius: 1px;
  border:none;
  height: 40px;
}
.search3 {
  padding: 5px;
  border-radius: 1px;
  border:none;
  height: 40px;
}

.search-btn {
  margin:none;
  height: 40px;
  background-color: $orange;
  border:none;
  padding: 0px 20px;
  border-radius: 1px;
  color:white;
}
