.search {
  margin: 0 auto;
  color: black;
  background-color: transparent;
}

.search1 {
  border-radius: 0px;
  padding: 5px;
  margin-bottom:15px;
  border: none;
  height: 40px;
  width: 100%;
  background-color: transparent;
  border-bottom: 1px solid white;
}

.search1:hover {
  border-radius: 0px;
  padding: 5px;
  margin-bottom:15px;
  border: none;
  height: 40px;
  width: 100%;
  background-color: transparent;
  border-bottom: 2px solid #FF7F11;
  transition: 1.2s;
}

svg{
  padding-bottom: 10px;
}

.search-btn {
  border-radius: 4px;
  color: #ffffffb3;
  background-color: #ff7f1173;
  border: 1px solid #ff7f1147;
}

.search-btn:hover {
  border-radius: 4px;
  color: white;
  background-color: #FF7F11;
  border: 1px solid #FF7F11;
  transition: 1.2s;

}

a:hover {
  text-decoration: none;
}


.how-to-wrapper {
    background-image: white;
    text-align: center;
    color: grey;
    p{
      font-weight: 300;
    }
    h4{
      font-weight: 600;
    }
}

.how-it-works{
    justify-content: space-around;
    margin-top: 10px;
    padding: 32px;
}

.how-it-item {
    background-position: center;
    color: grey;
    position: relative;
    margin-top: 18px;
    margin-bottom: 18px;
}

.how-image {
  height: 100px;
  width: 100px;
}

.how-image-1 {
  height: 120px;
  width: 120px;
  margin-bottom: -20px;
}

// trusted by partners

.trusted {
max-width: 50%;
margin-top: 32px;
margin-bottom: 32px;
background-color: white;
vertical-align: center;
}

.trusted-1 {
    max-width: 50%;
    margin-top: 40px;
  }

@media(max-width: 720px) {
  .trusted {
    max-width: 100%;
  }
}

.trusted-wrapper {
  text-align: center;
  color: grey;
  margin-top: 32px;
  margin-bottom: 32px;
}
.trusted-by {
  background-color: white;
}

//new users css

.user-wrapper {
  text-align: center;
  color: grey;
  margin-bottom: 32px;
}

.header-wrapper {
  margin-top: 32px;
  margin-bottom: 32px;
  text-align: center;
  color: grey;
}

.new-users-wrapper {
    background-color: #DEE6EC;
    text-align: center;
    color: grey;
    p{
      font-weight: 300;
    }
    h4{
      font-weight: 400;
    }
}

.card-recently {
  height: auto;
  width: 290px;
  background-size: cover !important;
  background-position: center;
  position: relative;
  margin: 24px auto;
}

