.body {
  margin: none;
  min-height: 100vh;
}


.search {
  margin: 0 auto;
  color: black;
}

.search1 {
  border-radius: 4px;
  padding: 5px;
  margin-bottom:15px;
  border: none;
  height: 40px;
  width: 100%;

}
svg{
  padding-bottom: 10px;
}

.search-btn {
  background-color: $orange;
  border-radius: 4px;
  color:white;
}

