.user-card{
  text-align: center;
  margin-top: 12px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  border: 1px solid rgba(230,126,34,0.2);
  box-shadow: 2px 2px 2px rgba(230,126,34,0.1);
}

.about-card{
  background-color: white;
  border: solid 1px;
  border-color: rgba(230,126,34,0.2);
  border-radius: 8px;
  padding: 20px;
  p {
    font-weight: lighter;
  }
}

.experience-card {
  background-color: white;
  border: solid 1px;
  border-color: rgba(230,126,34,0.2);
  border-radius: 8px;
  padding: 20px;
  margin: 10px 0px;
}

.experience-card h6 {
  font-weight: bold;
}

.experience-card p {
  font-weight: lighter;
}

.profile-header{
  margin-left: 20px;
}

.mg-30{
  margin-top: 30px;
}

.btn-margin-btm{
  margin-bottom: 8px;
}

.btn-margin-top{
  margin-top: 8px;
}
