.user-card {
  text-align: left;
  margin-top: 12px;
  background-color: white;
  border-radius: 8px;
  border: 1px solid rgba(230,126,34,0.2);
  box-shadow: 2px 2px 2px rgba(230,126,34,0.1);
  .img {
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }

  p {
    margin: 0px 0px 0px 0px;
    opacity: 0.9;
  }

  .btn-primary {
    margin-top: 10px;
  }
}

.about-card{
  background-color: white;
  border: solid 1px;
  border-color: rgba(230,126,34,0.2);
  border-radius: 8px;
  padding: 20px;
  p {
    font-weight: 300;
  }
}

.experience-card {
  background-color: white;
  border: solid 1px;
  border-color: rgba(230,126,34,0.2);
  border-radius: 8px;
  padding: 20px;
}

.experience-card h6 {
  font-weight: bold;
}

.experience-card p {
  font-weight: 300;
}

.profile-header{
  margin-left: 30px;
}

.mg-30{
  margin-top: 30px;
}

.btn-margin-btm{
  margin-bottom: 8px;
}

.btn-margin-top{
  margin-top: 8px;
}

.fa-edit{
  color: grey;
  font-size: 12px;
}


/////// new css

.special-card-wrapper {
  text-align: none;
  background-color: white;
  padding: 20px;
  border-radius: 8px;

  p {
    font-size: 18px;
    margin: 10px 0px 0px 0px;
    opacity: 0.9;
    margin-left: 20px;
    font-weight: 300;
  }
  h3 {
    font-size: 32px;
    margin-top: 8px;
    margin-left: 20px;
  }
  h4 {
    font-size: 14px;
    color: #FF7F11;
    margin-bottom: -8px;
    margin-left: 20px;
  }
  .btn {
    margin-left: 20px;
    margin-top: 10px;
  }
}

.user-card-profile {
  text-align: left;
  margin-top: 12px;
  background-color: white;
  border-radius: 8px;
  border: 1px solid rgba(230,126,34,0.2);
  box-shadow: 2px 2px 2px rgba(230,126,34,0.1);
  .img {
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      height: 30vh;
      width: 100%;
      object-fit: cover;

    }
}

.user-calendar {
  margin-bottom: 20px;
  margin-right: -25px;
  p {
    margin: 8px 0px 8px 10px;
  }

}

.avatar-large-profile {
    width: 150px;
    margin-top: -90px;
    margin-left: 0px;
    height: 150px;
    border-radius: 50%;
    // box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border: white 1px solid;
    // -o-object-fit: cover;
    object-fit: cover;
}

// .row {
//   margin-left: 0px;
//   margin-right: 0px;
// }

.message-job {
    display: flex;
    align-items: center;
    padding: 0px;
    border-bottom: 1px solid rgba(220, 224, 244, 0.4);
    margin: 0px;
    margin-top: 20px;
    justify-content: space-around;
    margin-right: -45px;
    margin-left: -15px;
    p {
      font-size: 12px;
    }
}

.message-body-small {
  font-size: 12px;
  padding-left: 10px;
  font-size: 0px;
  color: rgba(0,0,0,0.7);
  padding-left: 0px;
  color: rgba(0,0,0,0.4);
  margin: 0px 0;
}

.profile-header-job{
  margin-left: 30px;
  margin-bottom: -10px;
}




