ul {
  list-style-type: none;
  padding: 0px;
}

.message {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid rgba(220,224,244,0.4);
  margin: 0px;
  margin-top: 20px;
  justify-content: space-around;
  h3 {
  font-size: 18px;
  margin-top: 14px;
  }
}
.message:last-child {
  border-bottom: none;
}

.message-body {
  flex-grow: 0;
}

.message-name {
  padding-left: 20px;
  min-width: 100px;
  max-width: 200px;
  text-align: left;
  h6 {
    font-size: 14px;
    margin-top: 5.5px;
    margin-bottom: 1.5px;
  }
}
.message-name h3 {
  font-size: 18px;
  margin: 0px 0px 0px 0px;
}
.message-name p {
  font-size: 14px;
  font-weight: 300;
  opacity: 0.6;
}

.message-body {
  font-size: 18px;
  padding-left: 10px;
  font-size: 0px;
  color: rgba(0,0,0,0.7);
  padding-left: 0px;
  color: rgba(0,0,0,0.4);
  margin: 0px 0;
}
.message-body strong{
  color: rgba(0,0,0,0.9);
  color: rgba(0,0,0,0.9);
}
.message-body p {
  font-size: 14px;
  margin: 0px 0;
}
.message-status {
  font-size: 14px;
  font-weight: bold;
}
.status.accepted {
  color: #04A366;
}
.status.declined {
  color: red;
}
.status.pending {
  color: lightgrey;
}

.container {
  position: relative;
  margin: 0px auto;
  width: 95vw;
  padding-left: 0px;
  padding-right: 0px;
}

.head-index {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  height: 50px;
}

.price {
  font-size: 14px;
  margin: none;
}

p {
  margin: 0px 0px 0px 0px;
  vertical-align: text-bottom;
}

.nav-tabs {
  border-bottom: 0px solid #ddd;
  margin-left: 37px;
}


// map css and styling
.index-right {
  margin: none;
  height: calc(100vh - 110px)!important;
  position: sticky !important;
  top: 60px !important;
}

// responsive styling
@media only screen and (max-width: 750px) {
  .message-body {
    display: none;
  }
  .message h3 {
    display: none;
  }

}
.list-container {
  max-height: calc(100vh - 160px);
  overflow: scroll;
}

.counter-position {
  position: relative;
  .counter {
    position: absolute;
    top: 0px;
    right: 0px;
  }
}
