<div class="map-window"><br>

    <p><%= link_to find.title.capitalize, user_path(find) %></p>
    <img class="avatar-s" src="<%= find.user.photo %>"  alt="">
    <p>£<%= find.rate %>pd</p>

</div>






