.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height-min: 50px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  margin-top: 40px;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}

// responsive styling
@media only screen and (max-width: 750px) {
  .footer-copyright {
    font-size: 12px;
  }
  .footer {
    padding : 5px;
  }
}
