/* Main navbar */
.navbar:before, .navbar:after {
  content: none;
}

.navbar {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  border-radius: 1px;
  background-color: #FFF;
  transition: all 0.3s ease;
  height: 60px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 0px;
  position: absolute;
  z-index: 3;
  position: sticky !important;
  top: 0 !important;
  border-top: 5px solid #FF7F11;
}

/* transparent navbar on home page*/
.navbar-home {
  background-color: transparent;
  box-shadow: none;
  .navbar-link {
    color: #FFF;
  }

}

/* Logo */
.siteworkr-icon img {
  height: 40px;
}

/* User Avatar */
.avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}
.margin-added {
  margin-left: 20px;
}

/* Right section */
.navbar-right {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .btn {
    margin:10px;
  }
}

.navbar-left{
  display: flex;
  justify-content: space-around;
  position: relative;
  h2{
    font-weight: 400;
    position: absolute;
    bottom: -12px;
    left: 50px;
    color: black;
  }
}

.navbar-link {
  color: #616668;
  font-size: 14px;
  cursor: pointer;
  padding: 0px 0px 0px 20px;
}
.navbar-link:hover {
  color: #da552f;
  text-decoration: none;
}

.counter {
  font-size: 12px;
  background-color: $orange;
  color: white;
  text-align: center;
  padding:2px 7px;
  min-width: 20px;
  border-radius: 10px;
  margin: 5px;
  min-width: 20px
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
